section.about#section_next
  .container
    .about-wrap
      .about-left
        .about-left__title-shadow
          +icon('about_header')
          h1.about-left__title.title-lines Обо мне
        .about-left__avatar
          img(src='assets/img/avatar-big.jpeg').about-left__avatar-img
        .about-left__flex-subtitle
          h2.about-left__subtitle.title-lines Кто я
        .about-left__disc
          p.
            Я веб разработчик из Арзамаса. Мне 22 года. Я занимаюсь разработкой современных сайтов и приложений.
            Мне нравится делать интересные и современные проекты.
          p.
            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about-right
        .about-left__flex-subtitle
          h2.about-right__subtitle.title-lines Чем я могу быть вам полезен
        .about-right__disc
          p.
            Больше всего меня привлекет Frontend разработка, но я также знаком
            и могу решать не сложные задачи на Backend. Но давайте по порядку.
        ul.about-right__list
          li.about-right__item
            span.skills__title Frontend
            ul.skills__list
              li.skills__item.skills__item_html
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_css
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_jq
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle

          li.about-right__item
            span.skills__title Backend
            ul.skills__list
              li.skills__item.skills__item_php
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_mysql
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_nodejs
                    svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                      circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_mongo
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
          li.about-right__item
            span.skills__title Workflow
            ul.skills__list
              li.skills__item.skills__item_git
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_gulp
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle
              li.skills__item.skills__item_bower
                svg(width='110px' height='110px' viewBox='0 0 110 110').skills__diagram
                  circle(cx="55" cy="55" r="45").skills__diagram-circle