section.map-contacts
  main.map#map
  .contacts
    h3.contacts__title.title-lines Контакты
    ul.contacts__list
      li.contacts__item
        +icon('skype')
        span.contacts__text Avradantsev
      li.contacts__item
        +icon('envelope')
        span.contacts__text Avradantseb@yandex.ru
      li.contacts__item
        +icon('phone')
        span.contacts__text +7(987)533-44-21
      li.contacts__item
        +icon('map_marker')
        span.contacts__text г. Арзамас