.blog-left {
  flex: 1 25%;
}

.blog-left__list {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
}

.blog-left__item {
  width: 100%;
  text-align: right;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: flex-end;


  &:hover {

    .blog-left__link {
      color: $fgreen;
      @include font(16px, regular);
      @include font(16px, bold);
    }

    border-right: 3px solid $fgreen;
  }
}

.blog-left__link {
  color: $grey;
  @include font(16px, regular);
  width: 100%;
  padding: 15px 20px 15px 0;
  border-right: 3px solid transparent;
  text-decoration: none;


}

.blog-left__link_active {

  border-right: 3px solid $fgreen;

  .blog-left__link {
    color: $fgreen;
    @include font(16px, bold);
  }

  &:hover {

  }
}

.fixed {
  position: fixed;
  right: 75%;
  top: 20px;
}