.blog {
  padding-bottom: 151px;
}

.blog .container {
  display: flex;
  padding: 20px 0 0 0;
}

.header-name_custom {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
}

.header-name_custom .icon-blog_header {
  height: 200px;
  width: 300px;
  fill: #fff;
  fill-opacity: .07;
}

.user__title__text {
  display: inline;
  @include font(63px, reg);
  position: relative;

}