.container-slider {
  text-align: center;
  margin-top: 50px;
}

.slider {
  position: relative;
  width: 40%;
  //overflow: hidden;
  display: inline-block;
  .slider__list {
    position: relative;
    width: 100%;

  }

  .slider__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;

    .slider__img {
      width: 100%;
      height: 100px;
      background-color: red;
    }

    .slider__img_1 {
      background-color: red;
    }

    .slider__img_2 {
      background-color: darkblue;
    }

    .slider__img_3 {
      background-color: green;
    }

    &.slider__active {
      z-index: 1;
      position: relative;
    }

    &.inslide {
      z-index: 2;
    }
  }
}

.slider__controls-button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  color: orangered;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  border-radius: 50%;
  z-index: 5;
  text-decoration: none;

  &.slider__control-button_next {
    right: 0;
  }
  
  &.slider__control-button_prev {
    left: 0;
  }
}
