.about-left {
  flex: 1 50%;
  background: $aleft;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.about-left__title-shadow {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin: -40px 0 0 0;

}

.about-left__title {
  color: $black;
  @include font(63px, reg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px -95px;
}

.about-left__title-shadow
.icon-about_header {
  fill: $title;
  fill-opacity: .07;
  max-height: 125px;
  max-width: 360px;
}

.about-left__disc {
  color: $grey;
  @include font(18px, regular);
  line-height: 1.52;
  width: 80%;
  padding: 0 0 50px 0;
  & p {
    margin-bottom: 4px;
  }
  & ul li {
    margin-left: 20px;
    list-style: circle inside;
  }
}
