footer.footer
  container.container
    .footer-top
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item
            a(href='works.html').footer-nav__link Мои работы
          li.footer-nav__item
            a(href='about.html').footer-nav__link Обо мне
          li.footer-nav__item
            a(href='blog.html').footer-nav__link Блог
          li.footer-nav__item
            a(href='index.html').footer-nav__link Авторизация
      .footer-socials
        ul.footer-socials__list
          li.footer-socials__item
            a(href='https://vk.com/ra_dar' target='_blank').footer-socials__link
              +icon('vk')
          li.footer-socials__item
            a(href='https://github.com/rvdvr' target='_blank').footer-socials__link
              +icon('github')
          li.footer-socials__item
            a(href='https://www.linkedin.com/' target='_blank').footer-socials__link
             +icon('in')
    .footer-bot
      .footer-bot__left
        p.
          Я веб-разработчик из Арзамаса, и этот сайт я сделал в рамках обучения
          в Школе онлайн образования LoftSchool.
      .footer-bot__right
        p.
          &#169; Раданцев Андрей | создано с любовью в LoftSchool | 2016