.header-nav__list {
  position: absolute;
  left: -9999px;
  opacity: 0;
}


.active .header-nav__list {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -160px;
  text-align: center;
  z-index: 2000;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.active .header-nav__item {
  margin: 0 0 50px 0;
}


.active .header-nav__link {
  color: #fff;
  @include font(63px, reg);
  text-decoration: none;
  position: relative;
  transition: opacity .3s;

  &:hover {
    &:after {
      right: 100%;
      margin-right: 20px;
      opacity: .8;
    }
  
    &:before {
      right: -42px;
      opacity: .8;
    }
  }
}

.header-nav__link {
  &:after,&:before {
    content: '';
    background: #fff;
    opacity: .1;
    position: absolute;
    top: 40px;
    width: 22px;
    height: 5px;
    transition: right .3s opacity .5s;
  }

  &:after {
    right: 100100%;
    margin-right: 20px;
  }

  &:before {
    right: -10042px;
  }
}
