.header__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header .icon-portf_arrow_down {
  height: 17px;
  width: 27px;
  fill: #fff;
  fill-opacity: .7;
  transition: fill-opacity .3s;
  cursor: pointer;

  &:hover {
    fill-opacity: 1;
  }
}