section.works-slider
  .container
    .slider
      ul.slider__list
        li.slider__item
          .slider-left
            .slider-left__illustration
              img(src='assets/img/fastshine.png').slider-left__illustration-img
          .slider-right
            .slider-right-container
              h3.slider-right-container__title Сайт для Центра Автотехнологий Fast&Shine 
              .slider-right-container__technologies
                p.
                  Клиентом была поставлена следующая задача: разработать сайт с уникальным дизайном, демонстрирующий деятельность компании.</br></br> 
                  После беседы с заказчиком стало понятно, что основной акцент необходимо сделать на услугах, которые оказывает компания. Так же, не менее важно, было реализовать удобную навигацию по ценам, зависящие от класса автомобиля.</br></br>
                  Перед началом работы были проанализированы сайты, которые отметил клиент и аналогичные в данной нише. По результатам анализа был создан прототип решения, который принял заказчик. На основании прототипа, началась разработка дизайна. Цветовое решение было выбрано на основе цветов логотипа и пожеланий клиента.</br></br> 
                  Завершающим этапом была верстка макета сайта на технологиях html5, css3, javaScript.</br></br>
                  Результатом заказчик был полностью доволен.
              a(href='http://fastdetailing.ru/index.html' target='_blank').slider-right-container__btn
                +icon('link')
                span.slider-right-container__btn-text Посмотреть сайт
        li.slider__item
          .slider-left
            .slider-left__illustration
              img(src='assets/img/hipsweet-1.png').slider-left__illustration-img
          .slider-right
            .slider-right-container
              h3.slider-right-container__title Сайт для кондитерской «Hipsweet»
              .slider-right-container__technologies
                p.
                  Данный сайт был сверстан в рамках учебного курса по веб-разработке в школе онлайн образования "Loft School".</br></br>
                  Макет сайта был выдан на курсе, поэтому моей задачей было реализовать верстку с помощью основных веб-технологий: html5 + ccs3 + javaScript.</br></br>
                  Для сборки проекта использовался потоковый сборщик проектов на javaScript - Gulp.</br></br>
                  При том, что сайт учебный он может быть использован для реальной пекарни, так как полностью отрабатывает заложенную в него функциональность, такую как слайдер с примерами продукции, табы с выбором повара, форма обратной связи.
              a(href='http://hipsweet.tmweb.ru/index.html' target='_blank').slider-right-container__btn
                +icon('link')
                span.slider-right-container__btn-text Посмотреть сайт
        li.slider__item
          .slider-left
            .slider-left__illustration
              img(src='assets/img/quest.png').slider-left__illustration-img
          .slider-right
            .slider-right-container
              h3.slider-right-container__title Учебный Web quest
              .slider-right-container__technologies
                p.
                  Данный проект был разработан на последнем курсе в рамках дипломной работы.</br>
                  Целью работы было создание онлайн-квеста в формате сайта для тестирования нового дохода к проведению учебных занятий.</br>
                  Проведя анализ предметной области был реализован прототип будущего сайта.</br>
                  Далее проходила разработка дизайн-макета с последующей версткой сайта.</br>
                  Главной сложностью было совместить простоту лендинга и многостраничность обычного сайта.</br>
                  Проблема решена разделением функционала. Лендинг - инструкция, многостраничник - задания.</br>
                  Стек используемых технологий:</br>
                  html5 + css3 + javaScript + JQuery + npm + gulp.js;
                  
              a(href='http://web-quest.tmweb.ru/index.html' target='_blank').slider-right-container__btn
                +icon('link')
                span.slider-right-container__btn-text Посмотреть сайт
      .slider__btn-arrow.slider__btn-arrow_left
        +icon('portf_arrow_down')
      .slider__btn-arrow.slider__btn-arrow_right
        +icon('portf_arrow_down')
      .slider-radials
