section.works-slider
  .container
    .slider
      .slider__wrap
        ul.slider__list
          li.slider__item.slider-active
            .slider-left
              .slider-left__illustration
                img(src='assets/img/loftschool.png').slider-left__illustration-img
            .slider-right
              .slider-right-container
                h3.slider-right-container__title Сайт школы онлайн образования
                .slider-right-container__technologies
                  p.
                    HTML, CSS, JavaScript
                a(href='#').slider-right-container__btn
                  +icon('link')
                  span.slider-right-container__btn-text Посмотреть сайт
          li.slider__item
            .slider-left
              .slider-left__illustration
                img(src='assets/img/loftschool.png').slider-left__illustration-img
            .slider-right
              .slider-right-container
                h3.slider-right-container__title Сайт школы онлайн образования
                .slider-right-container__technologies
                  p.
                    GULP, NPM, Bower
                a(href='#').slider-right-container__btn
                  +icon('link')
                  span.slider-right-container__btn-text Посмотреть сайт
          li.slider__item
            .slider-left
              .slider-left__illustration
                img(src='assets/img/loftschool.png').slider-left__illustration-img
            .slider-right
              .slider-right-container
                h3.slider-right-container__title Сайт школы онлайн образования
                .slider-right-container__technologies
                  p.
                    Pug, js, jquery
                a(href='#').slider-right-container__btn
                  +icon('link')
                  span.slider-right-container__btn-text Посмотреть сайт
      .slider__btn-arrow.slider__btn-arrow_left
        +icon('portf_arrow_down')
      .slider__btn-arrow.slider__btn-arrow_right
        +icon('portf_arrow_down')
      .slider-radials
        ul.slider-radials__list
          li.slider-radials__item.works-slider-radials__item_active
          li.slider-radials__item
          li.slider-radials__item
          li.slider-radials__item