section.what-about
  //.what-about__bg
  //  img(src='assets/img/water.png').what-about__bg-img
  .container
    .what-about__title-shadow
      +icon('about_header')
      h2.works-head__title.title-lines Что обо мне говорят
    .coments
      ul.coments__list
        li.coments__item
          .coments-top
            .coments-top__text
              p.
                Этот парень проходил обучение веб-разработке
                не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .coments-bottom
            .coments-bottom__avatar
              img(src='assets/img/kov-avatar.jpg').coments-bottom__avatar-img
            .coments-bottom__author
              span.coments-bottom__author-name Ковальчук Дмитрий
              span.coments-bottom__author-disc Основатель LoftSchool
        li.coments__item
          .coments-top
            .coments-top__text
              p.
                Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .coments-bottom
            .coments-bottom__avatar
              img(src='assets/img/zar-avatar.jpg').coments-bottom__avatar-img
            .coments-bottom__author
              span.coments-bottom__author-name Зар Захаров
              span.coments-bottom__author-disc преподаватель
    .contact-me-flex
      include contact-me
    .what-about__btn-arrow-up
      +icon('portf_arrow_down')