.footer {
  min-height: 150px;
  width: 100%;
  background: rgba($black, .85);
  position: relative;
  margin-top: -150px;

  &:after {
    content: '';
    background: #fff;
    opacity: .1;
    height: 1px;
    width: 100%;
    top: 50%;
    position: absolute;
  }
}



