.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:75px;
}

.footer-nav__list {
  display: flex;
  flex-flow: wrap;

}

.footer-nav__item {
  margin: 0 20px;
}

.footer-nav__link {
  color: #fff;
  @include font(16px, medium);
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $fgreen;
  }
}

.footer-socials__list {
  display: flex;
  align-items: center;
}

.footer-socials__item {

  margin: 0 10px 0 0;

  &:last-child {
    margin: 0 20px 0 0;
  }
}

.footer-socials__link {
  border: 1px solid rgba(#fff, .5);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .3s, fill .3s;

  &:hover {
    background: #fff;
    .icon {
      fill: rgba($black, .85);
    }
  }
}

.footer-socials__item .icon {
  width: 24px;
  height: 18px;
  fill: rgba(#fff, .5);
  &.icon-in {
    width: 18px;
    height: 18px;
  }
}