include ../mixins/icons

doctype html
head
  include ../meta/common/head
body
  .wrapper
    include blog/sections/header
    include blog/sections/blog
    include ../common/footer

//script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' defer)
script(src='bower_components/jquery/dist/jquery.js' defer)
script(src='assets/js/app.js' defer)
//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-0Uej90XkQth_pC9hhWtKQT0rkQfJeRk&callback=initMap" defer)