include ../mixins/icons

doctype html
head
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  include ../meta/common/head
body
  .wrapper
    include works/sections/header
    include works/sections/works
    include works/sections/slider
    include works/sections/what-about
    include ../common/footer
  include ../common/preloader

  script(src='assets/js/foundation.js' defer)
  script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" defer)
  script(src='assets/js/app.js' defer)
