include ../mixins/icons

doctype html
head
  include ../meta/common/head
body
  .wrapper
    include works/sections/header
    include works/sections/works
    include works/sections/slider
    include works/sections/what-about
    include ../common/footer
  include ../common/preloader

  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)
