.parallax {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include phone() {
    display: none;
  }

}

.parallax__layer {
  width: 110%;
  margin-left: -55%;
  left: 50%;
  height: 100%;
  bottom: 0;
  position: absolute;

}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.container-flex {
  //min-width: 100%;
  //min-height: 100%;
  display: flex;
  align-content: space-between;
  flex-flow: wrap;
  //background-image: url(../img/bg-mount.png);
  //background-repeat: no-repeat center;
  //background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include phone() {
    background: url(../img/bg-big.png);
    background-size: cover;
  }

  @include tablet() {
    background: url(../img/bg-big.png);
    background-size: cover;
  }

  @include laptop() {
    background: url(../img/bg-big.png);
    background-size: cover;
  }
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  perspective: 1000;
}

.flipper {
  transition: .6s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-animate {
  transform: rotateY(180deg);
}


.disable {
  display: none;
}

