aside.blog-left
  nav.blog-left__nav
    ul.blog-left__list
      li.blog-left__item
        a(href='#article__1').blog-left__link.blog-left__link_active Самое важное в SASS
      li.blog-left__item
        a(href='#article__2').blog-left__link Приёмы в вёрстке, без которых не обходится ни один сайт
      li.blog-left__item
        a(href='#article__3').blog-left__link Самый необходимый набор Gulp плагинов